.accessoriesSection{
    margin: 2rem;
    margin-bottom: 8rem;
}
.products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
    margin: 3rem;
    
}
.products img{
    padding: 70px;
}