.womenSection{
    margin: 2rem;
}
.products{
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    gap: 20px;
    justify-items: center;
    margin: 3rem;
    
}