.login{
    padding: 3rem 0;
}
.login__header__form{
    width: 100%;
    height: 100%;
    background-color: #fff;
}
.login__header__form form{
    width: 100%;
    height: 100%;
}

.login__header__form form input{
    width: 100%;
    height: 100%;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    outline: none;
    margin: 1rem 0;
    letter-spacing: 1px;
}

.login__header__form form input:focus{
    border-bottom: 1px solid #000;
}

.login__header__form form button{
    width: 100%;
    height: 50px;
    background-color: rgb(39, 39, 39);
    color: #fff;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    border: none;
    outline: none;
    cursor: pointer;
    margin: 1rem 0;
    font-weight: 700;
    letter-spacing: 1px;
}
.login__header__form form p{
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: #ff5e00;
    margin: 0;
    font-style: italic;
}

.login__header__title h2{
    font-size: 35px;
    color: rgb(42, 42, 42);
    margin: 0;
    font-weight:800;
    text-align: center;
    margin-bottom: 2rem;
}

.note{
    position: absolute;
bottom: 10px;
right: 10px;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    color: rgb(209, 209, 209);
    margin: 0;
    /* font-style: italic; */
    text-align: center;
}