/* .background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.background img{
    width: 100%;
    height: 100%;
    object-fit: cover;
} */


.contact{
    position: relative;
    /* width: 100%; */
    /* min-height: 100vh; */
}
.headerContainer{
    height: 150px;
    /* font-size: 2.5rem; */
    /* font-weight: bold; */
    position: relative;
    margin-bottom: 1rem;
    padding: 1rem 2rem 1rem 9rem;
    text-transform: capitalize;
    background-color: rgba(42, 41, 49, 0.055);
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerContainer h1{
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    letter-spacing: 2px;
}
.nav{
    position: absolute;
    top: 0.9rem;
    left: 1rem;
    /* background-color: rgb(231, 231, 231); */
    font-family: monospace;
    font-size: 0.9rem;
    font-weight: 300;
    color: #807e7e;
}

.nav a{
    color: #807e7e;
    text-decoration: none; 
}
.nav a:hover{
    color: #000;
}
.contact__container{
    width: 100%;
    max-width: 1200px;
    min-height: 600px;
    padding: 70px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    justify-items: flex-start;
    /* margin: 0 auto; */
    margin: 5rem auto;
    column-gap: 3rem;
    box-shadow: 0 0 5px rgba(95, 95, 95, 0.5);
}
.text h1{
    font-size: clamp(2.5rem, 5vw, 3.5rem);
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1rem;
    letter-spacing: 2px;
    line-height: 4rem;
    color: #ec7403;
    /* background-color: rgba(237, 237, 237, 0.295); */
    padding: 1rem 1rem 1rem 0rem;
   
}
.text p{
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 2rem;
}
.form{
    position: relative;
    width: 100%;
    max-width: 500px;
    /* min-width: 400px; */
    margin: 0 auto;
}
.form input{
    width: 100%;
    height: 3rem;
    border: none;
    border-bottom: 1px solid  var(--grey);
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    letter-spacing: 2px;
}
.form input:focus{
    outline: none;
}
.form textarea{
    width: 100%;
    height: 10rem;
    border: none;
    border-bottom: 1px solid var(--grey);
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    /* font-weight: bold; */
    letter-spacing: 2px;
    resize: none;
}
.form textarea:focus{
    outline: none;
}
.form textarea::placeholder{
    color: var(--grey);
}
.form input::placeholder{
    color: var(--grey);
}
.form button{
    width: 100%;
    height: 3rem;
    border: none;
    border-radius: 5px;
    background-color:  var(--grey);
    color: #fff;
    font-size: 1.5rem;
    /* font-weight: bold; */
    letter-spacing: 2px;
    cursor: pointer;
    
}
.form button span{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}
.form button:hover{
    background-color: #373737;
}


.error{
    color: red;
    font-size: 0.8rem;
    font-style: italic;
    font-weight: 300;
    margin-bottom: 1rem;
}

@media screen and (max-width: 900px) {
    
}